*{
    font-family: "Arial";
    color: #444444;
    font-size: 15px;
    margin-left: 2%;
    margin-right: 3%;
}
h1 a{
    font-size: 18px;
    color: darkblue;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h1{
    margin: 0px;
}
p.sayt{
    color: green;
    margin-bottom: -10px;
    margin-top: 2px;
}
p.sayt:after{
   content: '\25bc';
    font-size: 10px;
    margin-left: 5px;
}
p.rez{
font-size: 14px;
    color: #555555;
   margin-left: 65px;
}
p.gor {
    font-size: 14px;
    color: #555555;
    margin-left: 10px;
}
div.poisk{
width: 50%;
    padding: 2%;
    position: relative;
    float: left;
}
div.info{
width: 35%;
    float: right;
    border: solid 1px #cccccc;
    position: relative;
}
div.info2{
    width: 35%;
    float: right;
    border: solid 1px #cccccc;
    border-top-color: transparent;
    position: relative;
    padding-bottom: 1%;
}
div.info3{
    width: 35%;
    float: right;
    border: solid 1px #cccccc;
    border-top-color: transparent;
    position: relative;
    color: #888888;
    font-size: 17px;
}
div{
    margin-bottom: auto;
}
p{
    margin-bottom: 20px;
}
.pic2:before{
    margin-right: 10px;
    content: '\2192';
}
.pic3{
    width: 19%;
    height: 19%;
    margin: auto;
}
.pic4{
    width: 49%;
    height: 40%;
    margin: auto;
}
.jaloba{
    color: #888888;
    margin: 72px;
}
.pic5{
    width: 16%;
    height: 15%;
    margin: 6px;
}
p.otzyv{
    color: #888888;
    font-style: italic;
    font-size: 12px;
    margin-left: 1220px;
}
.infogor{
    font-size: 13px;
}
br.otstup{
    margin-bottom: 5%;
}
a{
    color: darkblue;
}
a.koled{
    color: #444444;
}
br.otstup2{
    margin-bottom: 8px;
}
